
  <!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
  
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Add A Comment</h4>
        </div>
        <div class="modal-body">
        <form
          action="/comment"
          method="POST"
          type="form"
          name="form"
          enctype="multipart/form-data">
          <div class="col-md-12">
              <div class="form-group">
                <label>Name</label>
                <input
                  type="text"
                  id="content"
                  name="commenttitle"
                  class="form-control" />
              </div>
            </div>
  
            <div class="col-md-12">
              <div class="form-group">
                <label>Content</label>
                <input
                  type="text"
                  id="stock"
                  name="commentcontent"
                  class="form-control" />
              </div>
            </div>
  
            <div class="col-md-12">
              <div class="form-group">
                <label>Rate</label>
                <div class="star-rating">
                  <input type="radio" id="5-stars" name="rating" value="5" />
                  <label for="5-stars" class="star">&#9733;</label>
                  <input type="radio" id="4-stars" name="rating" value="4" />
                  <label for="4-stars" class="star">&#9733;</label>
                  <input type="radio" id="3-stars" name="rating" value="3" />
                  <label for="3-stars" class="star">&#9733;</label>
                  <input type="radio" id="2-stars" name="rating" value="2" />
                  <label for="2-stars" class="star">&#9733;</label>
                  <input type="radio" id="1-stars" name="rating" value="1" />
                  <label for="1-stars" class="star">&#9733;</label>
              </div>
              </div>
            </div>
  
            <div class="col-md-4">
              <div class="">
                <label for="">Add Your Image</label>
                <input
                  type="file"
                  name="commentimage"
                  class="btn btn-fill btn-success"
                  id="picture">
              </div>
            </div>
            <div class="modal-footer">
              <button type="submit" id="btn_save" name="btn_save" class="btn btn-default">Rate</button>
            </div>
  
          </form>
        </div>
      </div>
  
    </div>
  </div>
  
  <!-- /row -->


